@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--bg-tertiary);
  --color-foreground: var(--text-normal);
  --color-card: var(--bg-primary);
  --color-card-foreground: var(--text-normal);
  --color-popover: var(--bg-primary);
  --color-popover-foreground: var(--text-normal);
  --color-primary: var(--brand-500);
  --color-primary-foreground: #fff;
  --color-secondary: var(--bg-secondary);
  --color-secondary-foreground: var(--text-normal);
  --color-muted: var(--bg-secondary);
  --color-muted-foreground: var(--text-muted);
  --color-accent: var(--bg-modifier-hover);
  --color-accent-foreground: var(--text-normal);
  --color-destructive: var(--danger);
  --color-destructive-foreground: #fff;
  --color-border: var(--header-secondary);
  --color-input: var(--bg-tertiary);
  --color-ring: var(--brand-500);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  * {
    @apply border-border outline-ring;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}